
#apply-nav-right li
{
    list-style-type: none;
    float: left;
    margin-left: 2px;
}

.apply-nav-image-small
{
  margin: 0;
  margin-top: -5px;
  height: 7%;
  border-radius: 100%;
  border: 2px solid white;
}

#apply-notification-trigger-small
{
  margin-right: 5%;;
}

@media(max-width:600px)
{
  label
  {
    font-size: 12px;
  }
  .apply-select-container{
      font-size: 8px;
  }
}

@media(max-width:430px)
{
  .custom-push
  {
    left: 45%;
  }
}

@media(max-width:390px)
{
  .custom-push
  {
    left: 40%;
  }
}

@media(max-width:321px)
{
  .custom-push
  {
    left: 20%;
  }
}


.notification{
    position: fixed; top: 93px; left: 0px; width: 100%; z-index:0; margin: 0; height: 100%;
}

.bar-dismisser{
    height: 100%; position: fixed; left: 0; top: 0; visibility: visible;
}

.bar-dismisser-display-none{
    visibility: hidden;
}
.bar{
    background: rgba(0,0,0,1); height: 100%; padding: 10; padding-top:0 !important;
}

.not-in-view{
    transition: all 0.5s;
}

.in-view{
    transition: all 0.5s;
}

/*For Messaging*/

.slidebar-in-view{
  z-index: 5 !important;
}

.messaging{
    position: fixed; top: 93px; left: 0px; width: 100%; z-index:0; margin: 0; height: 100%; transition: all 2s;
}

.msg-dismisser{
    height: 100%; position: fixed; left: 0; top: 0; display: block;
}

.msg-view-dismisser{
    height: 100%; position: fixed; left: 0; top: 90px; display: block;
}


.msg-dismisser-display-none{
    display: none;
}

.msg{
    background: rgba(255,255,255,1); height: 100%; padding: 10; padding-top:0 !important; box-shadow: 0 0 10px 0 #c3c3c3;
}

.not-in-view{
    transition: all 0.5s;
}

.in-view{
    transition: all 0.5s;
}

.message{
    border-bottom:1px solid #c3c3c3;
    padding-bottom: 20px;
}

.message:hover{
    background: #f0f0f0;
}

.msg-image{
    margin: auto; margin-top: 3%;
}

.msg-image h4{
    padding: 2%; margin: 0;
}
.msg-preview{
    margin: auto;
}

.msg-image img{
    width:100%; margin: 0; padding: 0; left: -20px; position: relative;
}

.msg-view-z-index-adjust{
    
}


.fix-profile{
    z-index: 5;
    width: 120%; padding: 10px;
}

@media(max-width:600px)
{
  .fix-profile
  {
      width: 100%;
  }

}
