.message-view{
    position: fixed; top: 93px; left: 0px; width: 100%; z-index:5; margin: 0; height: 100%;
}

.msg-view{
    background: #ffffff; height: 100%;
}
body{
    font-family: Montserrat;
}

.msg-topbar{
    padding:0 10px 10px 0;
    border-bottom: 1px solid #ccc;
}
.msg-icons{
    letter-spacing: 10px;
}

.msg-date{

}

.msg-body{
    padding: 10px;
}

.msg-type{
    background:#3498db; text-align: center; color: #ffffff; padding: 10px;
    margin-left: 20px;
}

.msg-content{
    padding: 20px;
}

.msg-footer{
	position: fixed; botom:0; width: 100%; text-align: center; margin-top:50px; border-top: 1px solid #ccc; padding:50px;
}