.notification{
    position: fixed; top: 93px; left: 0px; width: 100%; z-index:0; margin: 0; height: 100%; transition:all 1s;
}

.bar-dismisser{
    height: 100%; position: fixed; left: 0; top: 0; visibility: visible;
}

.bar-dismisser-display-none{
    visibility: hidden;
}

.dash-dismisser{
    height: 100%; position: fixed; left: 0; top: 0; visibility: visible;
}

.dash-dismisser-display-none{
    visibility: hidden;
}

.bar{
    background: rgba(0,0,0,1); height: 100%; padding: 10; padding-top:0 !important;
}

.not-in-view{
    transition: all 0.5s;
}

.in-view{
    transition: all 0.5s;
}

/*For Messaging*/

.messaging{
    position: fixed; top: 93px; left: 0px; width: 100%; z-index:0; margin: 0; height: 100%; transition:all 1s;
}

.msg-dismisser{
    height: 100%; position: fixed; left: 0; top: 0; display: block;
}

.msg-view-dismisser{
    height: 100%; position: fixed; left: 0; top: 90px; display: block;
}


.msg-dismisser-display-none{
    display: none;
}

.msg{
    background: rgba(255,255,255,1); height: 100%; padding: 10; padding-top:0 !important; box-shadow: 0 0 10px 0 #c3c3c3;
}

.not-in-view{
    transition: all 0.5s;
}

.in-view{
    transition: all 0.5s;
}

.message{
    border-bottom:1px solid #c3c3c3;
    padding-bottom: 20px;
}

.message:hover{
    background: #f0f0f0;
}

.msg-image{
    margin: auto; margin-top: 3%;
}

.msg-image h4{
    padding: 2%; margin: 0;
}
.msg-preview{
    margin: auto;
    margin-left: -23px;
    margin-top: 3px;
}
.msg-image img{
    width:150%; margin: 0; padding: 0; left: -20px; position: relative;
}
@media(min-width:1900px)
{
  .msg-image img
  {
    width: 100%;
  }
  .msg-preview
  {
    margin-left: -38px;
    margin-top: 12px;
  }
}


.msg-view-z-index-adjust{
    z-index: 11;
}

.fix-profile{
    z-index: 5;
    position: fixed;
}
@media(max-width:600px)
{
  .fix-profile
  {
    position: relative;
    z-index: 0;
  }

}

.z-index-high{
  z-index: 10 !important; transition: all 1s;
}

.donate-container{
    padding: 0; z-index: 5;
}

.donate-button{
    width: 100%; margin: 0; border: 0; background: #36cf3c; color: #fff; padding: 10px;
}

.donate{
    position: fixed; top: 0; left: 0; z-index: 5; height: 100%;
}

.donate-form-container{
    background: #ffffff; width: 100%; height: 100%;
}

.donating{
    position: fixed; top: 93px; left: 0px; width: 100%; z-index:5; margin: 0; height: 100%;
}

.donate-sidebar{
    background: #ffffff; height: 100%;
}
.navbar
  {
    z-index: 2;
  }
     .navbar-container{
       background: #fff; height: 57px;
       position: fixed; top: 80px; left: 0px;
       z-index: 1;
       text-align: center;
       font-size: 18px;
       padding-bottom: 0px;
   }
   .navbar-container p{
      margin-top: 2%; margin-bottom: 0px;
   }
   .navbar-container a{
      color: #000; padding: 10px; z-index: -1; text-decoration: none; padding-bottom: 10px;
      transition: all 0.1s; border-bottom: 4px solid rgba(1,1,1,0);
   }
   .navbar-container a:hover{
      border-bottom: 4px solid #4285F4; text-decoration: none; color: #4285F4; padding-bottom:5px;
      transition: all 0.3s;
   }



   .nav-fixed{
      position: fixed;
      top:80px;
      left:0px;

   }
   .custom-navbar{
    position: fixed; top: 55px; width: 100%; left: 0px; z-index: 1; background: #fff !important; padding-bottom: 0px !important; transition: all 0s; border-bottom: 10px #4285f4 solid !important; margin-bottom: 0px !important;
   }

.navbar-default .navbar-nav>li>a{
  color: #fff;
}
.navbar-default .navbar-nav>li>a:hover{
  color: #fff;
}
.self-nav{
     background:#3498db;
     color: #fff;
     box-shadow: 0 0 5px 0 #000; border: 0;
 }

.custom-pull{
  position: relative;; right: -200;
}

.left-stripes{
  font-size:24px; margin: auto; top: 10px; color: #fff;
}


.nav-search{
  font-size: 16px; margin: auto; top:5px; left: 20px; padding: 10px;list-style-type: none;width:100%; margin-top:-30px;
}

.nav-search input{
  background: rgba(0,0,0,0);   width: 150%; border: 0; box-shadow: 0; border-radius: 0; padding: 10px; padding-left:35px; position: relative; left: -5px; top: -10px;
}

.nav-search input:focus{
    border: 1px solid crimson;
}




.nav-search-icon{
    position: relative; top: 21px;
    font-size: 130% !important;
}


 @media (min-width: 0px) and (max-width:600px) {
     .nav-search input {
        width: 100%;
     }
     .nav-search
     {
       margin-top: -10px;
       margin-left: -20px;
     }
 }

.nav-search input:focus{
  border: 0;
}

.nav-search input:active{
  border: 0;
}

.nav-search input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: hsla(0, 0%, 100%, .7);
}
.nav-search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: hsla(0, 0%, 100%, .7);
   opacity:  1;
}
.nav-search input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: hsla(0, 0%, 100%, .7);
   opacity:  1;
}
.nav-search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: hsla(0, 0%, 100%, .7);
}


#other-nav-right li
{
    list-style-type: none;
    float: left;
    margin-left: 2px;
}

.other-nav-image-small
{
  margin: 0;
  margin-top: -5px;
  height: 7%;
  border-radius: 100%;
  border: 2px solid white;
}

#other-notification-trigger-small
{
  margin-right: 5%;;
}

@media(max-width:430px)
{
  .custom-push
  {
    left: 45%;
  }
}

@media(max-width:390px)
{
  .custom-push
  {
    left: 40%;
  }
}

@media(max-width:321px)
{
  .custom-push
  {
    left: 20%;
  }
}

.dash-container{
  position: fixed; top: 93px; left: 0px; width: 100%;  margin: 0; height: 96%; z-index: 0; transition: all 1s;
}

.dash{
  background: #fff;height: 100%;
  color: rgb(204,204,204);
}
