<html>
<head>
	<title>Add Project</title>
</head>
<body>
	<form method="post" action="/addproj">
		<p>Name: <input type="text" name="name"></p>
		<p>Category: <input type="text" name="category"></p>
		<p>Tags: <input type="text" name="tags"></p>
		<p>No. of People Required: <select name="nop">
 		<option value=1>1</option>
  	<option value=2>2</option>
  	<option value=3>3</option>
  	<option value=4>4</option>
  	<option value=5>5</option>
  	<option value=6>6</option>
	</select></p>
	<p>Bid: <input type="text" name="bid"></p>
	<p>Is Urgent:  <select name="IsUrg">
 	<option value="No">No</option>
  	<option value="Yes">Yes</option>

	</select>  </p>
	<p>Time of Project addition: {{time}}</p>
	<p>Description: <input type="text" name="description"></p>
	<p>Assigned By: {{user}}</p>
	<p><input type="submit" value="submit"></p>
	</form>
</body>
</html>
