<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Account</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/dash.css">
    <link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.min.css">
    <script src="../static/js/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      var full_height=$(document).height();
        $('body').css({
         // 'height':full_height
        });

    });
    </script>

  </head>
  <body>
    <div class="container-fluid content">
      <div class="row">
        <div class="col-md-12 col-xs-12 dash-cols add-dash-col">
          <div class="add-button">Add Project</div>
        </div>
        <div class="col-md-12 col-xs-12 dash-cols">
          <i class="fa fa-circle-o-notch" aria-hidden="true"></i> Dashboard
        </div>
        <div class="col-md-12 col-xs-12 dash-cols">
          <i class="fa fa-briefcase" aria-hidden="true"></i> Projects
        </div>
        <div class="col-md-12 col-xs-12 dash-cols">
          <i class="fa fa-pencil" aria-hidden="true"></i> Reviews
        </div>
        <div class="col-md-12 col-xs-12 dash-cols">
          <i class="fa fa-user" aria-hidden="true"></i> Edit Profile
        </div>
      </div>

      <div class="row logout">
        <div class="col-md-12 col-xs-12">
          <i class="fa fa-power-off" aria-hidden="true"></i> Log Out
        </div>
      </div>
    </div>


  </body>
</html>
