<!DOCTYPE html>
<html>
<head>
	<title>Messages</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/font-awesome/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/messages_mobile.css">
  <link rel="stylesheet" type="text/css" href="../static/css/messages.css">
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid col-md-4 col-xs-12 col-sm-12">

   <div class="view-messages">
      <h2>Messages</h2>
      <div class="row">
        <div class="col-xs-10 message">
          <div class="col-xs-3 msg-image">
            <img src="../static/images/msg_head.jpeg" class="img-circle">
          </div>
          <div class="col-xs-9 msg-preview">
            <h4>Sender Name</h4>
            <small>Content up here!</small>
          </div>
        </div>

        <div class=" col-xs-10 message">
          <div class="col-xs-3 msg-image">
            <img src="../static/images/msg_head.jpeg" class="img-circle">
          </div>
          <div class=" col-xs-9 msg-preview">
            <h4>Sender Name</h4>
            <small>Content up here!</small>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6" style="background:#3498db; margin:2%; padding:5%;text-align:center;">
        <a style="cursor:pointer;color:white;" href="compose_messages_mobile.html" target="_blank">Compose Message</a>
      </div>
    </div>
    </div>

</div>
</body>
</html>
