<!DOCTYPE html>
<html>
<head>
	<title>Messages</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/font-awesome/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/messages_mobile.css">
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid col-md-4 col-xs-12 col-sm-12">
<form method="post" action="">
<div class="msg-topbar">
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<div class="send-msg-img-holder">
				<img src="../static/images/17.jpg" class="send-msg-img">
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="sender-name"><h4>To Selena Gomez</h4><small class="msg-date">Direct Message</small></div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<button type="submit" class="msg-type sumbit-btn" style="float: right"><b>Send</b></button>
		</div>
	</div>
</div>

	<div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="msg-content">
					<div class="form-group">
					<textarea class="form-control" name = "message" placeholder="Enter the message here"></textarea>
 				</div>
 				</div>
			</div>
	</div>
</form>
</div>
</body>
</html>
