<!DOCTYPE html>
<html>
<head>
	<title>Messages</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/font-awesome/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/messages_mobile.css">
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid col-md-4 col-xs-12 col-sm-12">
<div class="msg-topbar">
	<div class="row">
		<div class="col-md-1 col-sm-1 col-xs-1">
			<div class="img-circle">

			</div>
		</div>
		<div class="col-md-8 col-sm-7 col-xs-7">
			<div class="sender-name"><h4>To Selena Gomez</h4><small class="msg-date">Direct Message</small></div>
		</div>
	</div>
</div>

	<div class="row">
		<div class="msg-body">
		<div class="col-md-2 col-xs-4 col-sm-4">
			<h2><i class="fa fa-paperclip"></i></h2> 
		</div>
			<div class="col-md-10  col-sm- 8 col-xs-8">
				<div class="msg-type" style="float: right"><b>Send</b></div>
			</div>

			<div class="col-md-12 col-xs-12">
				<div class="msg-content">
					<!-- <b>Enter the body for your message</b>
					<br>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
 -->				<div class="form-group">
					<textarea class="form-control" name = "message" placeholder="Enter the message here"></textarea>
 				</div>
 				</div>
			</div>

		</div>
	</div>

	<div class="msg-footer row">
		<div class="col-md-12">
			Click here to close this message
		</div>
	</div>
</div>
</body>
</html>