<!DOCTYPE html>
<html>
<head>
	<title>Messages</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/font-awesome/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/messages.css">
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
<div class="msg-topbar">
	<div class="row">
		<div class="col-md-1 col-xs-1">
			<div class="img-circle">

			</div>
		</div>
		<div class="col-md-8 col-xs-7">
			<div class="sender-name"><h4>From Muhammad Ali</h4><small class="msg-date">4 June 2016, 2:00 PM</small></div>
		</div>
		<div class="col-md-3 col-xs-4 msg-icons">
			<h3><i class="fa fa-reply"></i>
			<i class="fa fa-bookmark-o"></i>
			<i class="fa fa-flag"></i>
			<i class="fa fa-trash"></i></h3>
		</div>
	</div>
</div>

	<div class="row">
		<div class="msg-body">

			<div class="col-md-4 col-xs-4">
				<div class="msg-type">Direct Message</div>
			</div>

			<div class="col-md-12 col-xs-12">
				<div class="msg-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div>

		</div>
	</div>

	<div class="msg-footer row">
		<div class="col-md-12">
			Click here to close this message
		</div>
	</div>
</div>
</body>
</html>